input[type="checkbox"]{
    width : 20px;
    height: 20px;
    -webkit-appearance: none;
}
 .field.checkbox{
    text-align: left;

}
.field_button > div{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 0.7em;
}
.field_button > div >input{
    text-align: center;
    width: 7em;
    height: 2.4em;
    border: 4px double black;
    margin-left: -30px;
}

input[type="checkbox"]:checked {
    background-color: blue;
    border: none;
    outline: none;
    -webkit-appearance: checkbox;

}