.add_item_modal_window{
    width: 450px;
    border: 4px double black;


    padding-top: 10px;
    padding-bottom: 10px;
}
.add_item_modal_window >h2{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.5em;
}

.add_item_modal_window > .field{
    width: 310px;

}
.add_item_modal_window > .field > input{
    float: right;
    width: 10.5em;

}